---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Francisco Cucullu" description="About Francisco Cucullu">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="About Me"
                tagline="Thank you for visiting! Read below to learn more about myself and my background."
            >
                <img
                    width="1553"
                    height="873"
                    src="/assets/at-work.jpg"
                    alt="Francisco Cucullu pitching at South Summit"
                />
            </Hero>

            <section>
                <h2 class="section-title">Summary</h2>
                <div class="content">
                    <p>
                        I am an experienced software and financial engineer with a track record across banks, brokers, startups, and independent projects. 
						Specialized in leading technical teams focused on product development, with high-performance soft skills for managing stakeholder communication and a 
						broad business perspective to prioritize objectives and ensure efficient IT resource allocation.
                    </p>
                </div>
            </section>

			<section>
                <h2 class="section-title">Key Achievements</h2>
                <div class="content">
                    <p><strong>Artificial Intelligence Award:</strong> Integrated AI, machine learning, and data science to develop blockchain and wealth management solutions. 
						Complete story <a href="https://www.corporatevision-news.com/winners/xcapit/">here.</a>
					</p>
					<div style="height: 20px;"></div>
					<p><strong>Social Impact:</strong> Led highly qualified PhDs and partnered with UNICEF to create an open-source crypto wallet for financial inclusion, 
						also recognized as a Public Digital Good. Complete story <a href="https://app.digitalpublicgoods.net/a/11545">here</a>.
					</p>
					<div style="height: 20px;"></div>
					<p><strong>Growth Hacking:</strong> Engineered a network of bots to monitor competitors, securing the best market pricing, 
						boosting business operations and capturing ~20% of the market share. See my <a href="https://github.com/fcucullu/trading-fx">Github Repository</a>
					</p>
					<div style="height: 20px;"></div>
					<p>
						<strong>Engineering Management:</strong> Directed ~15 developers (product, integrations and IT support) to integrate with nearly 
						all Enterprise Resource Planning (ERP) systems used in the EU to scale business operations.
					</p>
                </div>
            </section>

            <section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<strong>Leadership Abilities</strong>
					<div class="container">
						<div class="column">
							<p>✔ Software engineering</p>
							<p>✔ Product development</p>
							<p>✔ Project management</p>
						</div>
						<div class="column">
							<p>✔ Reporting & analytics</p>
							<p>✔ Strategic prioritization</p>
							<p>✔ Business perspective</p>
						</div>
						<div class="column">
							<p>✔ Customer focused</p>
							<p>✔ Negotiation</p>
							<p>✔ Communication</p>
						</div>
					</div>
					<div style="height: 20px;"></div>
					<strong>Technology Stack</strong>
					<div class="container">
						<div class="column">
							<p>✔ Artificial Intelligence</p>
							<p>✔ Python (Django, Flask…)</p>
							<p>✔ Kubernetes</p>
							<p>✔ CI/CD Tools</p>
						</div>
						<div class="column">
							<p>✔ Machine Learning</p>
							<p>✔ JavaScript (React, Node.js)</p>
							<p>✔ Docker</p>
							<p>✔ Cloud providers</p>
						</div>
						<div class="column">
							<p>✔ Data science</p>
							<p>✔ PostgreSQL & MongoDB</p>
							<p>✔ Rest API frameworks</p>
							<p>✔ Git & more…</p>
						</div>
					</div>
				</div>
			</section>

            <section>
                <h2 class="section-title">Education</h2>
                <div class="content">
                    <p><strong>Management & Leadership</strong>, Harvard Business School Online | Santander scholarships.</p>
                    <p><strong>MSc Quantitative Finance</strong>, Solvay Brussels School of Economics & Management, Belgium.</p>
                    <p><strong>MSc Quantitative Finance</strong>, Universidad de San Andrés, Argentina.</p>
                    <p><strong>BSc Economics</strong>, Universidad de Buenos Aires, Argentina.</p>	
                    <div style="height: 20px;"></div>
                    <p>To see my full CV, please visit: <a href="https://drive.google.com/file/d/1PKakVWYPjfWcGzKr12ZL9oM9ga2kt88g/view?usp=drive_link" target="_blank">Francisco's CV</a>.</p>	
                </div>
            </section>

            <section>
                <h2 class="section-title">My story</h2>
                <div class="content">
                    <strong>Engineering Management Phase</strong>
                    <p>
                        Over the last few years, I have developed a range of finance-related products, leading mid-sized teams of talented software engineers and 
						utilizing the latest advancements in technology, including artificial intelligence, machine learning, and data science. My roles have varied 
						from actively coding as a hands-on tech lead to focusing purely on the engineering management aspects of larger products and overseeing their entire lifecycle.
                    </p>
                    <p>
                        I am actively involved in the startup ecosystem and have founded several projects that have sharpened my skills in guiding agile teams and building 
						scalable tech products. My main interests lie in performance and optimization, particularly in how they apply to teams and processes.
                    </p>
                    <div style="height: 20px;"></div>
                    <strong>Social Impact with UNICEF</strong>
                    <p>One of my favorite challenges in the startup sphere was leading a tech team of top science PhDs to build an innovative product in the fintech/web3 market, 
						designed to assist financially vulnerable individuals who are excluded from the banking system. This product received significant acclaim, secured investment 
						from the <a href="https://www.unicefventurefund.org/story/xcapit-smart-crypto-wallet-social-impact-and-financial-literacy-and-inclusion">UNICEF Innovation Fund</a>, 
						won an <a href="https://www.corporatevision-news.com/winners/xcapit/">award for innovation in artificial intelligence</a>, and was recognized as one of the first 
						<a href="https://gitlab.com/xcapit-foss">open-source</a> blockchain-related <a href="https://app.digitalpublicgoods.net/a/11545">Public Digital Goods</a>.
					</p>
                    <p>I have also contributed to a range of process automation initiatives for brokers and startups, a cryptocurrency exchange, and a market-making algorithm to 
						enhance stock liquidity. Additionally, I worked with an artificial intelligence boutique, focusing on optimizing mathematical models, particularly in 
						<a href="https://github.com/fcucullu/optimization_algorithms">performance algorithms</a> and process reengineering to improve the efficiency of commonly used AI models.
					</p>
                    <div style="height: 20px;"></div>
                    <strong>Business Intelligence Project Management</strong>
                    <p>My proactiveness allowed me to play a dynamic role in supporting various teams. My projects included several <a href="https://github.com/fcucullu/trading-fx">quantitative trading initiatives</a>
						 from the product team. I collaborated with the <a href="https://github.com/fcucullu/scrapers-webdrivers">marketing team</a> to develop a machine learning algorithm that improved 
						 customer segmentation, boosted conversion rates, and reduced churn. Additionally, I led automation projects that simplified processes and enhanced reporting for the administration 
						 team. During this phase, I excelled in communication and negotiation, effectively balancing expectations with available IT resources.</p>
                    <div style="height: 20px;"></div>
                    <strong>My Steps Through the Trading Market</strong>
                    <p>I left the banking ecosystem in search of more exciting roles in the fast-paced world of stock and derivatives trading. I first joined a leading corporate broker 
						in the Back Office of the trading desk, where I gained initial insights into portfolio management and financial valuation mathematics. Shortly after, I moved to 
						Argentina's largest retail broker as a quantitative trader. My proactive approach and programming skills led me to become a BI Project Manager in a newly 
						established team specifically created for me.</p>
                    <div style="height: 20px;"></div>
                    <strong>From the USA to My Banking Career</strong>
                    <p>After working in the United States, I began my career by joining HSBC Bank. My journey started as a client relations specialist, where I developed a deep 
						understanding of customer needs. This experience helped me refine my problem-solving abilities using various software tools and become an expert in the bank's products. 
						Over time, my negotiation skills enabled me to take on responsibility for high-end clients and investment products. Later, I joined the Business Performance 
						Management team, where I mastered data analytics and recognized its crucial role in identifying opportunities to improve business operations. During this time, 
						I gained expertise in <a href="https://github.com/fcucullu/RPA">process automation</a>, optimizing various workflows related to reporting requirements.</p>
                </div>		
            </section>

        </main>

        <ContactCTA />
    </div>
</BaseLayout>

<style>
    .about {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    img {
        margin-top: 1.5rem;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--gray-200);
    }

    .section-title {
        grid-column-start: 1;
        font-size: var(--text-xl);
        color: var(--gray-0);
    }

    .content {
        grid-column: 2 / 4;
    }

    .content :global(a) {
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

	strong {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        color: var(--gray-0); 
    }

    @media (min-width: 50em) {
        .about {
            display: grid;
            grid-template-columns: 1fr 60% 1fr;
        }

        .about > :global(:first-child) {
            grid-column-start: 2;
        }

        section {
            display: contents;
            font-size: var(--text-lg);
        }

        .container {
            display: flex;
            justify-content: space-between;
        }

        .column {
            flex: 1;
            margin: 0 1rem; 
        }
    }
</style>
